@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
  --radius: 0.75rem;
  --radius-sm: calc(var(--radius) - 0.25rem);
  --radius-md: calc(var(--radius) - 0.125rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.25rem);
  --color-background: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --color-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --color-card: light-dark(oklch(1 0 0), oklch(0.205 0 0));
  --color-card-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --color-popover: light-dark(oklch(1 0 0), oklch(0.269 0 0));
  --color-popover-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));
  --color-primary: light-dark(var(--color-blue-600), var(--color-blue-500));
  --color-primary-foreground: var(--color-blue-50);
  --color-secondary: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --color-muted: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.708 0 0));
  --color-accent: light-dark(oklch(0.94 0 0), oklch(0.371 0 0));
  --color-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));
  --color-success: light-dark(oklch(0.51 0.1 166), oklch(0.7 0.15 162));
  --color-destructive: light-dark(
    oklch(0.577 0.245 27.325),
    oklch(0.704 0.191 22.216)
  );
  --color-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
  --color-input: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 15%));
  --color-ring: var(--color-blue-500);
  --color-chart-1: var(--color-blue-800);
  --color-chart-2: var(--color-blue-700);
  --color-chart-3: var(--color-blue-600);
  --color-chart-4: var(--color-blue-500);
  --color-chart-5: var(--color-blue-300);
  --color-sidebar: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));
  --color-sidebar-foreground: var(--color-foreground);
  --color-sidebar-primary: var(--color-primary);
  --color-sidebar-primary-foreground: var(--color-primary-foreground);
  --color-sidebar-accent: light-dark(oklch(0.94 0 0), oklch(0.269 0 0));
  --color-sidebar-accent-foreground: light-dark(
    oklch(0.205 0 0),
    oklch(0.985 0 0)
  );
  --color-sidebar-border: var(--color-border);
  --color-sidebar-ring: var(--color-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scrollbar-color: var(--color-muted-foreground) transparent;
  }

  html {
    @apply cursor-default touch-manipulation overscroll-none scroll-smooth caret-primary accent-primary selection:bg-primary selection:text-primary-foreground;
  }

  body {
    @apply flex min-h-dvh flex-col bg-background text-foreground;
  }

  main {
    @apply isolate overflow-clip;
  }
}

@layer components {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  [data-sonner-toast] [data-close-button] {
    @apply opacity-0;
  }

  [data-sonner-toast]:hover [data-close-button],
  [data-sonner-toast]:focus [data-close-button],
  [data-sonner-toast]:focus-within [data-close-button] {
    @apply opacity-100;
  }
}
