{% extends "base.jinja" %}

{% block main %}
    <p>
        Ваc пригласили подать заявку в команду <strong>{{ team }}</strong>.
    </p>
    <p>
        Ссылка для подачи заявки: <a href="{{ link }}">{{ link }}</a>.
    </p>
    <p>
        Удачи на мероприятии!
    </p>
{% endblock %}
