{% extends "base.jinja" %}

{% block main %}
    <p>
        Ваш код подтверждения: <strong>{{ otp }}</strong>. Код действителен до
        <time datetime="{{ expires_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ expires_at.strftime('%H:%M') }}</time>.
        Никому не сообщайте этот код!
    </p>

    <p>
        Если вы не запрашивали это письмо, то просто проигнорируйте его.
    </p>
{% endblock %}
